@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('~@/static/uni.ttf') format('truetype');
}

/* 页面类 */
.page-row {
	display: flex;
	flex-flow: row nowrap;
}

.page-column {
	display: flex;
	flex-flow: column nowrap;
}

.page-wrap {
	flex-wrap: wrap;
}

.page-center {
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
}

.page-center-position {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

/* 默认组件定义 */
button {
	margin: 5px;
}

/* 自定义组件类 */
/* 弹窗布局 */
.pop-container {
	width: 100%;
	height: 100%;
	/* 不可有overflow，否则将导致弹窗容器滚动无效 */
	/* overflow: hidden; */
}

.pop-container .pop-item {
	display: flex;
	flex-flow: row nowrap;
}

.pop-container .pop-item-grid {
	display: grid;
	/* 默认宽度6em */
	grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

.pop-container .title {
	font-weight: bold;
	font-size: 1.3em;
}

.pop-container .subtitle {
	font-weight: initial;
	font-size: 1.1em;
}

.pop-container .selected {
	background-color: #007d20;
	font-weight: bold;
	transform: scale(1.15);
}

.pop-container .center {
	justify-content: center;
}
